@{
    ViewData["Title"] = "My Generate Password Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
    <h3>Select the generate password option:</h3>
    <div class="optionList">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="optionItem"><a href="~/PasswordGenerator/Index">Generate a password</a></div>
    </div>
    </div>
</div>
